@font-face {
	font-family: persianSans;
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/woff/IRANSansX-Bold.woff') format('woff'),   
	url('../fonts/woff2/IRANSansX-Bold.woff2') format('woff2');  
}

@font-face {
	font-family: persianSans;
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/woff/IRANSansX-Regular.woff') format('woff'),   
	url('../fonts/woff2/IRANSansX-Regular.woff2') format('woff2'); 
}

#phonenumber,
.persian-datepicker,
input[id="email"],
input[type="number"],
input[type="password"],
textarea[name="theme_style_custom_clients_and_admin_area"],
textarea[name="theme_style_custom_clients_area"],
textarea[name="theme_style_custom_admin_area"]
{
	text-align:left !important;
	direction:ltr !important;
}

.tw-divide-solid>:not([hidden])~:not([hidden]){border-style:none; }
.tw-divide-solid>:not([hidden])~:not([hidden]){border-right: 1px solid #bbb; margin-right:8px; padding-right:12px;}

small {
	font-size:11px;
}

label {
	padding-bottom:8px;
}

.persianlogo {
	padding:12px;
	background:#F9F9F9;
}

.persianlogo img {
	width:100%;
}

.persian-timeline {
	list-style: none;
}
.persian-timeline > li {
	margin-bottom: 60px;
}
.persian-timeline-date {
	font-weight:bold;
}

@media ( min-width : 640px )
{
	.persian-timeline > li {
		overflow: hidden;
		margin: 0;
		position: relative;
	}
	.persian-timeline-date {
		width: 85px;
		float: right;
		margin-top: 21px;
	}
	.persian-timeline-content {
		width: 75%;
		float: right;
		border-right: 3px #e5e5d1 solid;
		padding-right: 30px;
	}
	.persian-timeline-content:before {
		content: '';
		width: 12px;
		height: 12px;
		background: #6fc173;
		position: absolute;
		right: 80px;
		top: 24px;
		border-radius: 100%;
	}
}

html, body, a, p {
    font-family: persianSans !important;
}

.tooltip {
	font-family: persianSans !important;
}

.system-popup .popup-message{
	font-family: persianSans;
}

#setup-menu .customizer-heading {
	position: absolute !important;
	top: 20px !important;
	right: 48px !important;
	left: unset !important;
}

body.hide-sidebar:not(.show-sidebar) #menu {
	margin-right: -230px !important;
}

body.hide-sidebar:not(.show-sidebar) #wrapper {
	margin-right: 0 !important;
}

.sidebar li a i.menu-icon {
	margin-left: 13px !important;
	margin-right: unset !important;
	float: right !important;
}

.sidebar .arrow {
	float: left;
	padding-top: 5px;
}

.sidebar li .nav-second-level li a {
	padding: 7px 43px 7px 10px;
}

#newsfeed .close_newsfeed{
	left: 30px;
	right: unset;
}

#newsfeed .post-time-ago {
	left: 55px;
	right: unset;
}

#newsfeed .newsfeed_post .dropdown {
	left: 20px;
	right: unset;
}

#newsfeed .comment-image {
	margin-left: 10px;
	margin-right: unset;
}

.dropdown-submenu>a:after {
	border-color: transparent #94a3b8 transparent transparent;
	border-width: 5px 5px 5px 0;
	float: left;
	margin-left: -71px;
	margin-right: unset;
}

.dropdown-submenu>.dropdown-menu{
	right: 100%;
	left: unset;
}

.widget-dragger{
	right: -15px;
	left: unset;
}

.main-tasks-table-href-name {
	float: unset;
}

.todo-title{
	padding: 0 10px 0 0;
}

.fa-regular.fa-plus.fa-lg{
	line-height: 1.05em;
}

#setup-menu .arrow, #side-menu .arrow{
	margin-left: unset;
}

.fa-solid, .fa-regular {
	vertical-align: middle;
}

.customer-profile-group-heading{
	right: 0;
	left: unset;
}

.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: .25rem;
	border-bottom-right-radius: .25rem;
}

.btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child) {
	border-top-left-radius: .25rem;
	border-bottom-left-radius: .25rem;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.popover-title, .popover-content {
	font-family: persianSans;
	text-align: center;
}
.popover{
	z-index: 99999 !important;
}

#kan-ban{
	display: flex;
}

.sidebar li .nav-second-level li.active a{
	margin: 8px 30px 8px 0;
	padding: 5px 15px;
}

.input-group .form-control:last-child{
	border-top-left-radius: .375rem;
	border-bottom-left-radius: .375rem;
}

#discount-total.input-group .input-group-addon,.form-group-select-task_select .input-group-addon, #contract-form .input-group-addon, .input-group.date .input-group-addon,.colorpicker-element .input-group-addon,#tab_staff_profile .input-group-addon,#new_lead_lead_status_inline .input-group-addon, .recurring-cycles .input-group-addon,.client_password_set_wrapper .input-group-addon,.lead-wrapper .input-group-addon{
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	border-top-left-radius: .375rem;
	border-bottom-left-radius: .375rem;
	border-left: 1px solid #cbd5e1;
}

._transaction_form .table.items thead>tr>th:first-child{
	border-left: 0;
	border-right: unset;
}

.table.items thead th{
	border-left: 1px solid #e2e8f0;
	border-right: unset;
}

table.dataTable thead>tr>td.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc{
	padding-left: 30px;
	padding-right: 10px;
}

table.dataTable thead .sorting:after{
	margin-right: 5px;
	margin-left: unset;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_desc_disabled:after{
	left: 8px;
	right: unset;
}

.activity-feed .feed-item {
	padding-right: 30px;
	border-right: 2px solid #22c55e;
	border-left: unset;
}

.activity-feed .feed-item:after{
	right: -6px;
	left: unset;
}

.tab-separator {
	border-left-width: 1px;
	border-right: unset;
}

.mleft10 {
	margin-right: 10px!important;
	margin-left: 0!important;
}

.table>tfoot>tr>td .bg-primary{
	color: #ffffff;
}

.task-info .task-info-icon{
	margin-right: -9px!important;
	margin-left: 8px;
}

ul.tagit li.tagit-new{
	padding: 0.25em 0px 0.25em 4px;
}

ul.tagit li{
	margin: 2px 0px 2px 5px;
}

ul.tagit input[type=text]{
	padding-right: 5px;
	padding-left: unset;
}

ul.tagit li.tagit-choice-editable{
	padding: 2px 10px 2px 20px;
}

ul.tagit li.tagit-choice .tagit-close{
	left: 0.4em;
	right: unset;
}

.checklist .remove-checklist {
	margin-right: unset;
}

.checklist-items-template-select .checklist-item-template-remove{
	right: unset;
	left: 17px;
}

.tooltip {
	font-family: persianSans !important;
}

.mime {
	padding: 1px 26px 4px 0;
}

#project_view_name .bootstrap-select button[data-id=project_top], #project_view_name .bootstrap-select button[data-id=project_top]:focus, #project_view_name .bootstrap-select button[data-id=project_top]:hover {
	padding-right: 0;
	padding-left: unset;
}

.svg-rotate svg {
	transform: rotate(180deg);
}

.task-action-select .dropdown-toggle .filter-option {
	padding-left: 1rem;
	padding-right: 0;
}

.jquery-comments ul.navigation li[data-sort-key="attachments"] i {
	margin-left: 0.25em;
	margin-right: unset;
}

.jquery-comments .profile-picture{
	float: right;
}

.jquery-comments ul.navigation li[data-sort-key="attachments"] {
  float: left;
}

.jquery-comments .textarea-wrapper {
	padding-right: 21px;
	padding-left: unset;
}

.jquery-comments .textarea-wrapper .control-row > span{
	float: left;
}

.jquery-comments .textarea-wrapper .inline-button{
	right: unset;
	left: 0;
}

.jquery-comments .textarea-wrapper .control-row > span:not(:first-child) {
	margin-left: 0.5em;
	margin-right: unset;
}

.save_predefined_reply_from_message{
	float: left !important;
}

.system-popup .popup-message{
	font-family: persianSans;
}

.jquery-comments ul.main li.comment .comment-wrapper > .profile-picture{
	margin-left: 1rem;
	margin-right: unset;
}

.jquery-comments ul.main li.comment time{
	float: left;
	margin-right: 0.5em;
	margin-left: unset;
}
.jquery-comments ul.main li.comment .actions .action:first-child{
	margin-right: 0;
	margin-left: 1em;
}

.jquery-comments ul.main li.comment .child-comments > *:before{
	float: right;
}

.tc-content ul, .tc-content ol{
	margin-right: 16px;
	margin-left: unset;
}

.jquery-comments .textarea-wrapper:before{
	right: 5px;
	left: unset;
}

.kan-ban-expand-top{
	left: 0px;
	right: unset;
}

#kan-ban .panel-body .lead-name,#kan-ban .panel-body .task-name{
	padding-right: 22px;
	padding-left: unset;
	background-position-x: 289px;
}

#kan-ban.kb-kan-ban {
	display: none;
}

.kb-kan-ban .container-fluid{
	display: flex;
}

.alert-dismissable, .alert-dismissible {
	padding-left: unset;
	padding-right: unset;
}

.input-group-addon:not(:first-child):not(:last-child){
	border-radius: 0 !important;
}

#tab_form_build li{
	text-align: right;
}

.form-wrap.form-builder .frmb-control li::before {
	margin-left: 10px;
	margin-right: unset;
}

[id^="frmb-"][id$="-form-wrap"] .frmb{
	margin-left: 0px !important;
	margin-right: 20px !important;
}

.form-wrap.form-builder .frmb .form-elements .false-label:first-child,.form-wrap.form-builder .frmb .form-elements label:first-child{
	float: right !important;
}

.form-wrap.form-builder .frmb .form-elements .input-wrap{
	margin-right: 2% !important;
	margin-left: unset !important;
	float: right !important;
}

.form-wrap.form-builder .frmb .required-asterisk{
	margin-left: 0.25rem;
	margin-right: unset !important;
	float: right !important;
}

.laniakea-date{
	display: inline-block;
}

.dataTables_empty {
	text-align: right!important;
}

[data-name="md-persiandatetimepicker"] table.table [data-name="today"], [data-name="md-persiandatetimepicker"] table.table td.bg-info {
	color: #ffffff;
}

[data-name="day"]:hover {
	color: #2563eb !important;
}

.form-wrap.form-builder .cb-wrap.pull-left .form-actions{
	float: right;
}

.navbar-default .navbar-nav > li > a{
	margin-left: 3px;
	margin-right: unset;
}

.navbar-default .navbar-nav > li.customers-nav-item-profile > a {
	padding-right: 10px;
	padding-left: 0;
}

.submenu {
	float: left;
}

.submenu li {
	margin-left: 15px;
	margin-right: 0;
}

.submenu li:last-child {
	margin-left: 0;
}

.kb-search button[type="submit"] {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: .375rem;
	border-bottom-left-radius: .375rem;
}

.question_update {
	margin-right: 15px;
	margin-left: unset;
}

.alert.float-alert .alert-title{
	margin-right: 30px !important;
	margin-left: unset !important;
}

.float-alert.alert span[data-notify="icon"]{
	left: unset !important;
	right: 13px !important;
}

.alert.float-alert button.close{
	left: 10px !important;
	right: unset !important;
}

.float-alert{
	left: 20px !important;
	right: unset !important;
}

.w-50{
	width: 50% !important;
}

#timer-select-task .inner.open{
	overflow-y: initial !important;
}

.persian-more {
	padding:8px;
}

.persian-more img {
	width: 100%;
	height:auto;
	border-radius:8px;
}

.transaction-html-info-col-right {
	float:right;
	text-align:right;
}

.transaction-html-info-col-left {
	float:left;
	text-align:left;
}

.customers-nav-item-profile {
	float:right !important;
}

#subtotal {
	text-align:right;
}

.viewinvoice .table tbody td:first-child {
	text-align:right;
}

.viewinvoice .table .subtotal {
	text-align:left;
}

.invoice-html-offline-payments {
	padding:16px;
	background:#F7F7F7;
	border-radius:4px;
	border: 1px solid #CCCCCC;
	text-align:right;
	direction:rtl;
	line-height:200%;
}

.invoice-html-offline-payments > p:first-child {
	padding:8px;
	border-radius:4px;
	background:#E8E8E8;
}

.invoice-items-preview thead tr th {
	color:#FFFFFF !important;
	text-align:center !important;
	background:#415164 !important;
}

.invoice-items-preview thead tr th[align="right"] {
	text-align:center !important;
}

.invoice-items-preview tbody tr td[align="right"] {
	text-align:center !important;
}

.customers-top-submenu-files {
	border-radius:4px;
	padding:10px 5px 5px 10px;
	border: 1px solid #CCCCCC;
}

.customers-top-submenu-files span {
	font-size:14px;
	padding-right:5px;
}

.customers-top-submenu-calendar {
	border-radius:4px;
	padding:10px 5px 5px 10px;
	border: 1px solid #CCCCCC;
}

.customers-top-submenu-calendar span {
	font-size:14px;
	padding-right:5px;
}

.persian-float-left {
	float:left;
}